<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            margin: 0;
        }

        .Header {
            background-color: #734500;
            /* background-image: -webkit-linear-gradient(360deg, #b000dc 18%, #ae00a0 100%); */
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 150px;
        }

        .Header img {
            width: 125px;
            height: 125px;
            margin: auto;
        }

        .Footer {
            margin: auto;
            width: 100%;
            background-color: #734500;
            /* background-image: -webkit-linear-gradient(360deg, #b000dc 18%, #ae00a0 100%); */
            color: #fff;
            text-align: center;
            padding: 15px 0;
        }

        .Footer .Icons {
            width: max-content;
            margin: auto;
        }

        .Footer .Icons img {
            width: 30px;
            height: 30px;
            padding: 15px 10px;
        }

        .Main {
            padding: 20px;
        }

        .Main .Name {
            font-size: 22px;
        }

        .Main .Name span {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="Header">
        <img src="https://res.cloudinary.com/dowrjiwpe/image/upload/v1579021340/E-Booket/ebooket.png" alt="logo">
    </div>
    <div class="Main">
        <div class="Name">
            Hi,
            <span>
                <%= user.firstName %>
                    <%= user.lastName %>
            </span>
        </div>
        <div>
            <p>Thank you for signup.</p>
            <p>Please click on the following link in order to verify your email address.</p>
            <p>
                <a href="<%= emailVerificationLink %>">
                    <%= emailVerificationLink %>
                </a>
            </p>
            <p>Thanks</p>
            <p>Team Sportsmasala</p>
        </div>
    </div>
    <div class="Footer">
        <div class="Icons">
            <img src="https://res.cloudinary.com/dowrjiwpe/image/upload/v1579021340/E-Booket/fb.png" alt="fb">
            <img src="https://res.cloudinary.com/dowrjiwpe/image/upload/v1579021340/E-Booket/ig.png" alt="ig">
            <img src="https://res.cloudinary.com/dowrjiwpe/image/upload/v1579021340/E-Booket/yt.png" alt="yt">
        </div>
        <span>Powered by Sportsmasala</span>
    </div>
</body>

</html>